include PyTts\__init__.py
include PyTts\@DOCS\works.txt
include PyTts\@LICENCE\LICENSE.cmudict.txt
include PyTts\@LICENCE\LICENSE.g2p_en.txt
include PyTts\@LICENCE\LICENSE.lame.txt
include PyTts\@LICENCE\LICENSE.lameenc.txt
include PyTts\@LICENCE\LICENSE.nltk.txt
include PyTts\@LICENCE\LICENSE.numpy.txt
include PyTts\@LICENCE\LICENSE.pygame.txt
include PyTts\@LICENCE\LICENSE.sdl2.txt
include PyTts\@LICENCE\LICENSE.sdl2_mixer.txt
include PyTts\@LICENCE\LICENSE.sly.txt
include PyTts\TTS\engine.py
include PyTts\TTS\SoundObj.py
include PyTts\TTS\__init__.py
include PyTts\_AudioCodecs\__init__.py
include PyTts\_AudioCodecs\mp3\lameenc.cp35-win32.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cp35-win_amd64.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cp36-win32.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cp36-win_amd64.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cp37-win32.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cp37-win_amd64.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cp38-win32.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cp38-win_amd64.pyd
include PyTts\_AudioCodecs\mp3\lameenc.cpython-35m-darwin.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-35m-i386-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-35m-x86_64-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-36m-darwin.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-36m-i386-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-36m-x86_64-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-37m-darwin.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-37m-i386-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-37m-x86_64-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-38-darwin.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-38-i386-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-38-x86_64-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-38.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-39-darwin.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-39-i386-linux-gnu.so
include PyTts\_AudioCodecs\mp3\lameenc.cpython-39-x86_64-linux-gnu.so
include PyTts\_AudioCodecs\mp3\mp3.py
include PyTts\_AudioCodecs\mp3\__init__.py
include PyTts\_AudioCodecs\wav\wav.py
include PyTts\_AudioCodecs\wav\__init__.py
include PyTts\_data\checkpoint.npz
include PyTts\_data\cmu.dict
include PyTts\_data\g2idx_idx2p.json
include PyTts\_data\homograph.json
include PyTts\_data\msg.txt
include PyTts\_data\sounds.lines
include PyTts\_data\tagger_dict.dict
include PyTts\_data\tagger_weights.json
include PyTts\_data\__init__.py
include PyTts\_lexer\lex.py
include PyTts\_lexer\__init__.py
include PyTts\_pronouncer\pronouncer.py
include PyTts\_pronouncer\__init__.py
include PyTts\_tempfile\tempfile.py
include PyTts\_tempfile\__init__.py
include PyTts\_voice\train.py
include PyTts\_voice\__init__.py
include PyTts\_WaveFile\wavfile.py
include PyTts\_WaveFile\__init__.py
